
h1 {
  color: rgb(255, 51, 0);
  font-family: 'Gotham Light', sans-serif;
  font-size: 70px;
  font-weight:lighter;
  line-height: 1.1;
  /* padding-top: 50px; */
}

h4 {
  /* font-size: 25px;
  padding: 10px; */
  color: rgb(253, 68, 22);
}

button {
  background-color: #a8a8a8; /* Green */
  border: none;
  color: rgb(24, 26, 27);
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 450;
  transition-duration: 0.4s;
  margin: 6px;
}

button:hover {
  background-color: rgb(253, 68, 22);
  color: rgb(230, 226, 220);
}
